*.aps
*.log
*.tlog
*.bak
*.opensdf
*.manifest
*.manifest.res
*.sdf
*.exp
*.ilk
*.obj
*.pch
*.lastbulildstate
*.pdb
temp
*.ipch
obj
bin/
x64/
Debug/
opencv2410/
configfile/
*filters
*.suo
*.cd
*.user
*.dll
*.lib